<!-- Modal -->
<div class="modal fade" id="modal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card mb-3" style="width: 100%;">
            <img class="img-fluid" src="{{image.image.url}}" alt="lorem">
            <div class="card-body">
                <h4>{{image.name|title}}</h4>
                <p>Category: <strong>{{image.category | title}}</strong></p>
                <p>Location: <strong>{{image.location | title}}</strong></p>  
                <p>
                  {{image.description}}
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>




  <!--Copy Link Modal -->
<div class="modal fade" id="link-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="p-2">
              <input class="form-control form-control-sm" type="text"
              value="{{image.image.url}}" id='link{{image.id}}'>
              <br>
              <button class="btn btn-success btn-sm mr-1" onclick="copyLink('link{{image.id}}')">Copy</button>
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
              </button>
          </div>
    </div>
  </div>
</div>