{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container-fluid my-2">
   <div class="row">
       <div class="col-12">
           <a href="{% url 'upload' %}" class="btn btn-info float-right btn-sm">
            <span class="text-center">
                Upload Photo <i class="fas fa-upload"></i>
            </span>
           </a>
       </div>
       <div class="col-12">
        <h4>Location</h4>
        <hr>
       </div>


       {% if messages %}
       <div class="col-12">
        
        {% for msg in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{msg.message}}
          </div>
        {% endfor %}
      
       </div>
        {% endif %}
      
       {%for image in images %}
       <div class="col-md-4">
                <div class="card mb-3" style="width: 100%;">
                    <img class="img-fluid" data-toggle="modal" data-target="#modal-{{image.id}}"  src="{{image.image.url}}" alt="lorem">
                    <div class="card-body">
                        <h4>{{image.name | title}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">
                                    <a href="#">
                                        <span class="text-center">
                                            Edit<i class="fas fa-edit ml-1"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <a href="#"  data-toggle="modal" data-target="#modal-{{image.id}}" >
                                    <span class="text-center">
                                        More..  <i class="fas fa-expand-arrows-alt"></i>
                                    </span>
                                </a>
                              
                            </div>
                            <div class="col-4">
                                <a href="#">
                                    <span class="text-center">
                                        Delete <i class="fas fa-trash-alt ml-1"></i>
                                    </span>
                                </a>
                               
                            </div>
                        </div>
                    </div>
            </div>
            {% include '_image_modal.html' %}
       </div>
     {%endfor%}
      
   </div>
</div>
{% endblock %}