{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container-fluid my-2">
   <div class="row">
        <div class="col-6">
            <button class="btn btn-info float-left btn-sm" id="search">
                <span class="text-center">
                    Search <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
       <div class="col-6">
           <a href="{% url 'upload' %}" class="btn btn-info float-right btn-sm">
            <span class="text-center">
                Upload Photo <i class="fas fa-upload"></i>
            </span>
           </a>
       </div>
       {% include '_search.html'%}
       <div class="col-12">
        <hr>
       </div>

       <!-- flash messages -->
       {% if messages %}
       <div class="col-12">
        
        {% for msg in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{msg.message}}
          </div>
        {% endfor %}
      
       </div>
        {% endif %}

       <!-- search results -->
        {% if search_results %}
        <div class="col-12">
            <h4 class="text-center">
                    {{search_results}}
                </h4>
        </div>
        {%endif%}
      
        <!-- results -->
       {%for image in images %}
       <div class="col-md-4">
                <div class="card mb-3" style="width: 100%;">
                    <a href="{% url 'get_image' image.id%}" target="_blank">
                        <img class="img-fluid" src="{{image.image.url}}" alt="lorem">
                    </a>
                    <div class="card-body">
                        <h4>{{image.name | title}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-3">
                                <div class="text-center">
                                    <a href="{% url 'edit' image.id %}">
                                        <span class="text-center">
                                           
                                            <div class="d-sm-none d-md-block">
                                                Edit
                                            </div>
                                            <i class="fas fa-edit ml-1"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <a  href="{% url 'get_image' image.id%}" target="_blank" >
                                    <span class="text-center">
                                        <div class="d-sm-none d-md-block">
                                            More..
                                        </div> 
                                        <i class="fas fa-expand-arrows-alt"></i>
                                    </span>
                                </a>
                              
                            </div>
                            <div class="col-3">
                                <a href="{% url 'copy_image_url' image.id%}"  >
                                    <span class="text-center">
                                        <div class="d-sm-none d-md-block">
                                            Link
                                        </div>
                                        <i class="fas fa-copy ml-1"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="{% url 'delete_image' image.id%}"   onclick="return confirm('Confirm Delete')">
                                    <span class="text-center">
                                        <div class="d-sm-none d-md-block">
                                            Delete
                                        </div> 
                                        
                                        <i class="fas fa-trash-alt ml-1"></i>
                                    </span>
                                </a>
                               
                            </div>
                        </div>
                    </div>
            </div>
            {% include '_image_modal.html' %}
       </div>
     {%empty%}
     <div class="text-center">
         
                No records
            
     </div>
          
     {%endfor%}
      
   </div>
</div>
<!-- copyrights -->
<div class="mt-1 text-center">
    <small class="text-center">
    Copyright © 2021 Gallery Inc. All Rights Reserved
    </small>
</div>
{% endblock %}